# Compiled output
*.out
*.exe
*.o
*.a
*.md
tempCodeRunnerFile.c

# Debug files
*.dSYM/

# Mac system files
.DS_Store

# VS Code settings
.vscode/
https://github.com/paramf4-coder/c-language-homework.git
# Build folders
build/
.gitignore